
body{
    margin: 0px  ;
}

*{
    box-sizing: border-box ;
}

.border {
    border: 1px solid ;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo-container {
    padding: 10px 30px;
    margin-right: 12px;
}

.header-nav {
    display: flex;
    list-style: none;
    padding: 0px;
}

.header-nav-item {
    margin-right: 21px;
    padding: 10px;
    color: white;
}

.welcome-section{
    background-image: url(images/gradient.png);
    background-size: cover;
    background-repeat: no-repeat ;
}



.testimonials{
    width: 1439px;
    height: 1689.4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
    margin-top: 90px;
    margin-bottom: 104px;
    border: 1px solid;
    width: 335px;
    height: 541.2px;
}