
* {
    box-sizing: border-box;
}

body{
    margin: 0px  ;
}

.border {
    border: 1px solid ;
}

.container {
    display: flex;
    flex-direction: column;
     height: 500px;
     align-items: center ;
   justify-content: center;
}

.group{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
ul {
    list-style: none;
    padding-left: 0px;
    display: flex;
}


.example-list .item{
    display: inline-block;
    width: 300px;
    height: 400px;

}

.testimonials{
    width: 1439px;
    height: 1689.4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
    margin-top: 90px;
    margin-bottom: 104px;
    border: 1px solid;
    width: 335px;
    height: 541.2px;
}