
body{
    margin: 0 ;
    font-family: 'Roboto', sans-serif;

}

*{
    box-sizing: border-box ;

}


/* FONTS */

p, h1, h2, h3 {
    margin: 0;
}



h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 57px;
}

.p1 {
    font-weight: 900;
    font-size: 55px;
    line-height: 65px;
}

.p3 {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
}
.p4 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.p5 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.p6 {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 28px;
    padding: 10px;
}

/* BUTTONS */

.btn-s {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    border-radius: 35px;
    border: none;
    cursor: pointer;
}


.btn-m {
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    border-radius: 35px;
    border: none;
    cursor: pointer;

}

/* WELCOME */

.welcome-section{
    background-image: url(images/gradient.png);
    background-size: cover;
    background-repeat: no-repeat ;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom:  134px;
}

/* HEADER */

.header {
    padding: 48px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo-container {
    padding: 10px 30px;
    margin-right: 12px;
}

.header-nav {
    display: flex;
    list-style: none;
    padding: 0px;
    margin-right: 40px;
}

.header-nav-item {
    margin-right: 20px;
    padding: 10px;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;

}

.header-nav-item .link{
    color: #FFFFFF;
    text-decoration: none;
}

.header-form-input {
    padding: 20px 40px;
    background: #EFEFEF;
    opacity: 0.12;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 39px;
    width: 273px;
    height: 54px;
    margin-right: 12px;
}


.header-form-button {
    padding: 19px 38px;
    background: #FFFFFF;
    color: #2091F9;
}

/* WELCOME-CENTER */

.center-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.center-section-text{
    margin-bottom: 8px;

}

.center-section-title {
    padding: 10px;
    font-weight: 900;
    font-size: 55px;
    line-height: 65.5px;
    margin-bottom: 18px;
}

.center-section-subtitle {
    padding: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 90px;
}

.center-section-button {

    padding: 16px 58px ;
    margin-bottom: 114px;
    background: #FFFFFF;
    color: #2091F9;
}


/* FEATURES */

.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.features-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features-intro-text {
    margin-bottom: 17px;
}

.features-intro-title {
    margin-bottom: 27px;
}

.features-intro-subtitle {
    text-align: center;
    margin-bottom: 80px;
}


.features__main {
    margin: 0 68px 95px 68px;
    display: flex;
    margin-bottom: 154px;

}

.features__img {
    margin: 0 100px 0 0;
    box-shadow: 0px 9.85769px 19.7154px rgba(0, 0, 0, 0.16), 0px 9.85769px 131.436px rgba(0, 0, 0, 0.23);
    border: none;
}

.features__list {
    list-style: none;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 75px;
}


.features__logo-title {
    display: flex;

    justify-content: flex-start;
    align-items: center;
}


.features__logo {
    margin-right: 10px;
    margin-left: 0px;
    padding: 5px 0;
}

.features__list-title{
    padding: 10px 0;

}


/* BUY */

.buy {
    background: linear-gradient(39.97deg, #00F3B9 0.79%, #2187FF 79.29%);
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.buy__intro {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.buy__intro-text {
    margin-bottom: 7px;
}

.buy__intro-title {
    padding: 10px;
    margin-bottom: 7px;
}

.buy__intro-subtitle {
    margin-bottom: 90px;
    text-align: center;
}

.btn-buy {
    padding: 18px 31px;
    background: #FFFFFF;
    color: #2091F9;
    margin-right: 16px;
}

.btn-try {
    padding: 16px 45px;
    background: none;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}


/* SUBSCRIBE */

.subscribe {
    display: flex;
    justify-content: center;

}

.subscribe__img {
    padding-top: 216px;
    margin-right: 50px;
    margin-bottom: 110px;
}

.subscribe__list {
    list-style: none;
    padding-top: 285px;
}

.subscribe__intro-pretitle {
    padding 10px 0;
    margin-bottom: 7px;
}

.subscribe__intro-title {
    padding: 10px 0;
    margin-bottom: 15px;
}

.subscribe__intro-subtitle {
    padding: 10px;
}

.subscribe__intro-text {
    padding-left: 10px;
    margin-bottom: 34px;
}

.subscribe__form-input {
    /* padding: 19px 39px; */
    padding: 19px 0;
    margin-right: 12px;
    background: #F4F4F4;
    border: 1px solid #E8E8E8;
    border-radius: 39px;
    width: 146px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.subscribe__form-button {
    padding: 19px 39px;
    background: #2091F9;
    color: #FFFFFF;
}

/* PARTNERS */

.partners {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
}

.partners__intro {
    text-align: center;
}

.partners__intro-title {
    padding: 10px;
    margin-bottom: 7px;
}

.partners__intro-text {
    padding: 10px;
    margin-bottom: 100px;
}

.partners__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}

.partners__list-item {
    margin-right: 77px;
}

.partner__list-item :last-child {
    margin-right: 0px;
}

.partners__btn {
    background: #2091F9;
    color: #FFFFFF;
    padding: 16px 58px;
}



/* TESTIMONIALS */


.testimonials{
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testi__title {
    padding: 10px;
    margin-bottom: 80px;
}

.testi__reviews{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    margin-bottom: 80px;
}

.testi__cards{
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 60px;
    border: 1px solid;
    width: 335px;
    height: 541.2px;
    border: 1px solid #DEDEDE;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
}

.testi__cards:nth-child(3n+3) {
    margin-right: 0px;
}


.top-row {
    margin-bottom: 104px;
}

.testi__avatar {
    margin-bottom: 30px;
}

.testi__comments {
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
}


.testi__stars {
    padding: 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}

.testi__name {
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
}

.testi__job {
    padding: 10px;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    }

.testi__btn-more {
    padding: 16px 47px;
    background: #2091F9;
    color: #FFFFFF;
}


/* price */

.price {
    display: flex;
    padding: 100px 0 100px 282px;
    background: #252B42;
    color: #FFFFFF;
}

.price__title {
    padding: 10px 0;
    margin-right: 455px;
    margin-bottom: 6px;
}

.price__subtitle {
    padding: 10px;
}

.price__right-text {
    padding: 10px 0;
    margin-bottom: 9px;
}

.price__right-text:nth-child(2n) {
    padding: 0px;
}

.price__btn {
    background: #2091F9;
    padding: 18px 38px;
    color: #FFFFFF;
}

/* CONTACTUS */

.contactus {
    padding: 200px 0 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactus__intro {
    text-align: center;
}

.contactus__title {
    padding: 10px 0;
    margin-bottom: 7px;
}

.contactus__subtitle {
    padding: 10px 0;
    margin-bottom: 50px;
}

.contactus__sm {
    list-style: none;
    display: flex;
    padding: 0px;
    margin-bottom: 60px;
}

.contactus__sm-icon {
    margin-right: 24px;
}

.contactus__sm-icon:last-child {
    margin-right: 0px;
}

.contactus__map {
    margin-bottom: 60px;
}

.contacts {
    list-style: none;
    padding: 0px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.contacts-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactus__form {
    padding: 52px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #DDDDDD;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
}

.contactus__form:last-child {
    align-items: flex-start;
}

.contactus__form-title {
    margin-bottom: 45px;

}

.contactus__input {
    padding: 19px 20px;
    align-self: stretch;
    background: #F5F5F5;
    border: 1px solid #E8E8E8;
    border-radius: 39px;
    margin-bottom: 45px;
}

/* не хочет пэддинги и марджин делать в текстареа*/
.contactus__input:last-child {
    padding: 23px 20px;
}

#yourmessage {
    padding: 23px 20px;
    margin-bottom: 45px;
}

.contactus__form-btn {
    padding: 18px 54px;
    background: #2091F9;
    color: #FFFFFF;
}



/* FOOOOOOTER */

.footer {
    padding: 107px 202px;
    background: #252B42;
    color: #FFFFFF;
}
.footer__lists {
    list-style: none;
    padding: 0px;
    margin-right: 20px;
}

.footer__lists:last-child {
    margin-right: 80px;
}

.footer__form {
    width: 286px;
    padding: 24px 10px;
}

